useDynLib(HTT, .registration=TRUE)
export("HTT")
export("htt_control")
export("printsplit")
S3method(predict, htt)
S3method(print, htt)
S3method(plot, htt)
importFrom(Rcpp, evalCpp)
importFrom("stats", "dist")
importFrom("stats", "na.omit")
importFrom("stats", "model.extract", "model.frame")
import(ggraph)
import(igraph)
import(ggplot2)
